<div class=" register">
    <div class="row">
        <div class="col-md-2 register-left">
            <img src="assets/icons/asasa.gif" alt="" />
            <h2><b>Asasa Real Estate</b></h2>
        </div>
        <div class="col-md-10 col-sm-10 register-right">
            <form class="form-register" [formGroup]="addinventoryForm">

                <h2 class="register-heading">Add Inventory</h2>
                <div class="row register-form form-group input-group ">
                    <!-- <div class="form-group">
                        <div class="input-group"> -->
                    <div class="col-md-12 col-sm-3 pull-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" formControlName='form_title' data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Leads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" formControlName='form_title' data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Inventory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" formControlName='form_title' data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Both</a>
                            </li>
                        </ul>
                        <!-- </div>
                        </div> -->
                    </div>
                </div>
                <div class="row register-form">
                    <div class="col-md-6 col-sm-6">
                        <br>
                        <div class="form-group">
                            <div class="input-group">
                                City
                                <input formControlName="city" class="form-control" type="text" list="productName1" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                                <!-- <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                    <div *ngIf="f.city.errors.required">City is required</div>
                                </div> -->
                                <datalist id="productName1">
                                    <option value="Islamabad">Islamabad</option>
                                    <option value="Rawalpindi">Rawalpindi</option>
                                    <option value="Else">Else</option>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <br>
                        <div class="form-group">
                            <div class="input-group">
                                Location
                                <input formControlName="location" class="form-control" type="text" list="productName2" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                                <!-- <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                    <div *ngIf="f.location.errors.required">Location is required</div>
                                </div> -->
                                <datalist id="productName2">
                                    <option value="I-10">I-10</option>
                                    <option value="G-15">G-15</option>
                                    <option value="Else">Else</option>
                                </datalist>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Complete form submission button -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <br><br>
                        <div class="form-group" class="pull-right">
                            <button (click)="submitForm()" class="btn btn-primary">Post Ad</button>
                            <br><br><br>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>