<div class=" register">
    <div class="row">
        <div class="col-md-2 register-left">
            <img src="assets/icons/asasa.gif" alt="" />
            <h2><b>Asasa Real Estate</b></h2>
            <!-- <button class = "btn btn-primary"  routerLink="/login-component" >Login</button> -->
            <!-- <input type="submit" routerLink="/login-component" value="Login" /><br /> -->
        </div>
        <div class="col-md-10 col-sm-10 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h2 class="register-heading">Cities</h2>
                    <div class="row register-form">
                        <div class="col-md-6 col-sm-6">
                            <!-- <label> Add New City </label> -->
                            Add New City
                            <form>
                                <input type="text" name="name" class="question" required autocomplete="off" />
                                <label for="nme"><span>Add New City</span></label>
                                <input type="submit" value="Add City" />
                            </form>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                Added Cities
                                <div class="form-group" class="question">
                                    <input style=" 
                                    border-bottom: 1px solid black; 
                                    width: 360px;" type="text" name="product" list="productName" />
                                    <datalist id="productName">
                                        <option value="Pen">Pen</option>
                                        <option value="Pencil">Pencil</option>
                                        <option value="Paper">Paper</option>
                                    </datalist>
                                </div>
                            </div>
                            <br><br>
                            <!-- <button type="submit" class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-danger">Delete</button> -->
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group" class="center">
                                <button type="submit"
                                    class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-danger">Delete</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h2 class="register-heading">Locations</h2>
                        <div class="row register-form">
                            <div class="col-md-6 col-sm-6">
                                <h3>Add New Location</h3><br>
                                Select City
                                <div class="form-group" class="question">
                                    <input style=" 
                                border-bottom: 1px solid black; 
                                width: 360px;" type="text" name="product" list="productName" />
                                    <datalist id="productName">
                                        <option value="Pen">Pen</option>
                                        <option value="Pencil">Pencil</option>
                                        <option value="Paper">Paper</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <h3>Added Locations</h3><br>
                                    Select City
                                    <div class="form-group" class="question">
                                        <input style=" 
                                    border-bottom: 1px solid black; 
                                    width: 360px;" type="text" name="product" list="productName" />
                                        <datalist id="productName">
                                            <option value="Pen">Pen</option>
                                            <option value="Pencil">Pencil</option>
                                            <option value="Paper">Paper</option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br><br>
                                Enter New Location
                                <form>
                                    <input type="text" name="name" class="question" required autocomplete="off" />
                                    <label for="nme"><span>Enter Location</span></label>
                                    <!-- <input type="submit" value="Add Location" /> -->
                                </form>
                            </div>
                            <!-- Right side column -->
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <br><br>
                                    Select Location
                                    <div class="form-group" class="question">
                                        <input style=" 
                                    border-bottom: 1px solid black; 
                                    width: 360px;" type="text" name="product" list="productName" />
                                        <datalist id="productName">
                                            <option value="Pen">Pen</option>
                                            <option value="Pencil">Pencil</option>
                                            <option value="Paper">Paper</option>
                                        </datalist>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                            <!-- Left side column -->
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <br>
                                    Select Added Locations
                                    <div class="form-group" class="question">
                                        <input style=" 
                                    border-bottom: 1px solid black; 
                                    width: 360px;" type="text" name="product" list="productName" />
                                        <datalist id="productName">
                                            <option value="Pen">Pen</option>
                                            <option value="Pencil">Pencil</option>
                                            <option value="Paper">Paper</option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <br><br>
                                <div class="form-group" class="center">
                                    <button type="submit"
                                        class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-danger">Delete</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Property Types -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h2 class="register-heading">Property Types</h2>
                        <div class="row register-form">

                            <div class="col-md-6 col-sm-6">
                                Add New Type
                                <form>
                                    <input type="text" name="name" class="question" required autocomplete="off" />
                                    <label for="nme"><span>Enter Property Type</span></label>
                                    <input type="submit" value="Add Property Type" />
                                </form>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    Added Types
                                    <div class="form-group" class="question">
                                        <input style=" 
                                    border-bottom: 1px solid black; 
                                    width: 360px;" type="text" name="product" list="productName" />
                                        <datalist id="productName">
                                            <option value="Pen">Pen</option>
                                            <option value="Pencil">Pencil</option>
                                            <option value="Paper">Paper</option>
                                        </datalist>
                                    </div>
                                </div>
                                <br><br>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group" class="center">
                                    <button type="submit"
                                        class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-danger">Delete</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Status Types -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h2 class="register-heading">Status Types</h2>
                            <div class="row register-form">

                                <div class="col-md-6 col-sm-6">
                                    Add New Status
                                    <form>
                                        <input type="text" name="name" class="question" required autocomplete="off" />
                                        <label for="nme"><span>Enter Status Type</span></label>
                                        <input type="submit" value="Add Status Type" />
                                    </form>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        Added Status
                                        <div class="form-group" class="question">
                                            <input style=" 
                                        border-bottom: 1px solid black; 
                                        width: 360px;" type="text" name="product" list="productName" />
                                            <datalist id="productName">
                                                <option value="Pen">Pen</option>
                                                <option value="Pencil">Pencil</option>
                                                <option value="Paper">Paper</option>
                                            </datalist>
                                        </div>
                                    </div>
                                    <br><br>
                                    <!-- <button type="submit"
                                        class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-danger">Delete</button> -->
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group" class="center">
                                        <button type="submit"
                                            class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="submit" class="btn btn-danger">Delete</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>